<!DOCTYPE html>
<html>
<head lang="ru">
    <base href="/">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ asset('style/style.css') }}">
</head>
<body>

<div class="block-header">
    <h1>Дофига классный сайт</h1>
</div>

<div class="breadcrumbs">
    <a href="">Cанкт Петербург</a> /
    <a href="">Комната</a>
</div>

<div class="block-offer-card-head">
    <div class="table">
        <div class="row">
            <h1 class="name">{{ item.name }}</h1>
            <div class="price">
                <h3>{{ item.price }} Р</h3> / мес.
            </div>
        </div>
        <div class="row">
            <h2 class="address">{{ item.address }}</h2>
            <div class="details">
                <div class="detail">!!за всю площадь,</div>
                <div class="detail">!!КУ включены</div>
            </div>
        </div>
        <div class="row">
            <div class="left"></div>
            <div class="details">
                <div class="detail">{{ item.timestamp }}</div>
            </div>
        </div>
    </div>
</div>

<div class="block-offer-card-content">
    <div class="contacts">
        <div class="row">
            <div class="resource">
                <img src="{{ asset('img/vk.png') }}">
            </div>
            <div class="phone">
                {{ item.contact.phone }}
            </div>
        </div>
    </div>

    <div class="photos">
        {% for photo in item.photos.low %}
        <img src="{{ photo }}">
        {% endfor %}
    </div>

    <div class="location">
        <span class="subway">
            <span class="subway-label"></span>
            <span class="subway-name">{{ item.subway }}</span>,
            <span class="subway-time">!!17 мин. на транспорте</span>
        </span>
    </div>

    <div class="map"></div>

    <div class="features">
        {% if item.area.common is defined %}
        <div class="feature">
            <div class="value">{{ item.area.common }} м²</div>
            <div class="name">общая</div>
        </div>
        {% endif %}

        {% if item.area.live is defined %}
        <div class="feature">
            <div class="value">{{ item.area.live }} м²</div>
            <div class="name">жилая</div>
        </div>
        {% endif %}

        {% if item.area.kitchen is defined %}
        <div class="feature">
            <div class="value">{{ item.area.kitchen }} м²</div>
            <div class="name">кухня</div>
        </div>
        {% endif %}

        {% if item.room_count is defined %}
        <div class="feature">
            <div class="value">{{ item.room_count }} комнаты</div>
            <div class="name">в квартире</div>
        </div>
        {% endif %}

        {% if item.floor.common is defined and item.floor.flat is defined %}
        <div class="feature">
            <div class="value">{{ item.floor.flat }} этаж</div>
            <div class="name">из {{ item.floor.common }} в здании</div>
        </div>
        {% endif %}

        {% if item.year_of_construction is defined %}
        <div class="feature">
            <div class="value">{{ item.year_of_construction }}</div>
            <div class="name">год постройки</div>
        </div>
        {% endif %}

    </div>
    <div class="common">
        <div class="title">
            Квартира
        </div>

        {% if item.room_count is defined %}
        <div class="row">
            <div class="value">{{ item.room_count }}</div>
            <div class="name">Количество комнат</div>
        </div>
        {% endif %}

        {% if item.floor.common is defined and item.floor.flat is defined %}
        <div class="row">
            <div class="value">{{ item.floor.flat }} из {{ item.floor.common }}</div>
            <div class="name">Этаж</div>
        </div>
        {% endif %}

        {% if item.area.common is defined %}
        <div class="row">
            <div class="value">{{ item.area.common }} м²</div>
            <div class="name">Общая площадь</div>
        </div>
        {% endif %}

        {% if item.area.live is defined %}
        <div class="row">
            <div class="value">{{ item.area.live }} м²</div>
            <div class="name">Жилая</div>
        </div>
        {% endif %}

        {% if item.area.kitchen is defined %}
        <div class="row">
            <div class="value">{{ item.area.kitchen }} м²</div>
            <div class="name">Кухня</div>
        </div>
        {% endif %}

        {#<div class="row">#}
            {#<div class="value">10 м²</div>#}
            {#<div class="name">Комната</div>#}
        {#</div>#}

        {#<div class="row">#}
            {#<div class="value">совмещенный</div>#}
            {#<div class="name">Санузел</div>#}
        {#</div>#}

        {% if item.details.floor_covering is defined %}
        <div class="row">
            <div class="value">{{ item.details.floor_covering }}</div>
            <div class="name">Покрытие пола</div>
        </div>
        {% endif %}

        <div class="title">
            Дом
        </div>

        {% if item.details.elevator is defined %}
        <div class="row">
            <div class="value">{{ item.details.elevator }}</div>
            <div class="name">Лифт</div>
        </div>
        {% endif %}

        {% if item.details.garbage_chute is defined %}
        <div class="row">
            <div class="value">{{ item.details.garbage_chute }}</div>
            <div class="name">Мусоропровод</div>
        </div>
        {% endif %}

        <div class="title">
            Детали
        </div>

        {% if item.details.phone is defined %}
        <div class="row">
            <div class="value">{{ item.details.phone }}</div>
            <div class="name">Телефон</div>
        </div>
        {% endif %}

        {% if item.details.internet is defined %}
        <div class="row">
            <div class="value">{{ item.details.internet }}</div>
            <div class="name">Интернет</div>
        </div>
        {% endif %}

        {% if item.details.tv is defined %}
            <div class="row">
                <div class="value">{{ item.details.tv }}</div>
                <div class="name">Телевизор</div>
            </div>
        {% endif %}

        {% if item.details.repair is defined %}
            <div class="row">
                <div class="value">{{ item.details.repair }}</div>
                <div class="name">Ремонт</div>
            </div>
        {% endif %}

        {% if item.details.washer is defined %}
            <div class="row">
                <div class="value">{{ item.details.washer }}</div>
                <div class="name">Стиральная машина</div>
            </div>
        {% endif %}

        {% if item.details.fridge is defined %}
            <div class="row">
                <div class="value">{{ item.details.fridge }}</div>
                <div class="name">Холодильник</div>
            </div>
        {% endif %}

        {% if item.details.conditioner is defined %}
            <div class="row">
                <div class="value">{{ item.details.conditioner }}</div>
                <div class="name">Кондиционер</div>
            </div>
        {% endif %}

        {% if item.details.dishwasher is defined %}
            <div class="row">
                <div class="value">{{ item.details.dishwasher }}</div>
                <div class="name">Посудомоечная машина</div>
            </div>
        {% endif %}

        <div class="title">
            Описание от арендодателя
        </div>
        <div class="description">
            {{ item.description }}
        </div>

    </div>
</div>

<div class="block-search-results">

    <div class="search-results-items">

        {% for l in list %}

            <div class="search-results-item">
                <div class="column-left">
                    <img src="{{ l.photos[0] }}">
                </div>
                <div class="column-center">
                    <h3 class="head" title="1-комнатная 23 м² в Санкт-Петербурге">
                        {{ l.name }}
                    </h3>
                <span class="subway">
                    <span class="subway-label"></span>
                    <span class="subway-name">{{ l.subway }}</span>
                    <span class="subway-time">{{ l.time_to_address }}</span>
                </span>
                    <div class="address">
                        {{ l.address }}
                    </div>
                </div>
                <div class="column-right">
                    <div class="price">
                        {{ l.price }}
                        <span>P</span>
                    </div>
                    <div class="floor">
                        {{ l.flat_floor }} этаж из {{ l.house_floor }}
                    </div>
                    <div class="publish-date">
                        {{ l.timestamp }}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>
</div>

</body>